<div class="page-header">
  <h1>About this Project</h1>
</div>
<p>This application will keep track of your characters. Some time in the future. ',=)</p>
<p>For now, it is just a web page. Expect more soon.</p>
<a href="https://github.com/RyanSpittler/PathFolio">Check out the code for this project on GitHub.</a>
